{% block cmf_grapes_edit_widget %}
    {% block cmf_grapes_edit_widget_js %}
        {% block cmf_grapes_edit_widget_assets -%}
            {% include 'CmfGrapesjsBundle:Base:edit.html.twig' %}
        {%- endblock %}

        <script type="text/javascript">
            jQuery(($) => {
            	$('#{{ id }}').cmfGrapes({
                    grapes_options: {
						components: '<div class="txt-red">Hello world!</div>',
						style: '.txt-red{colo:red}'
                    }
                });
            });
        </script>    {% endblock %}

    <div id="cmf-gjs"></div>

{% endblock %}
