{% block cmf_grapes_edit_widget %}
    {% block cmf_grapes_edit_widget_js %}
        {% block cmf_grapes_edit_widget_assets -%}
            {% include 'CmfGrapesjsBundle:Base:edit.html.twig' %}
        {%- endblock %}

        <script type="text/javascript">
			jQuery(function ($) {
				$('#{{ id }}-cmf-grapes').cmfGrapes({
					grapes_options: {
						style: '.txt-red{colo:red}'
					},
					request: {
						load: function (nodePath) {
							return {
								url: '{{ path('_cmf_get_resource', {
                                    repositoryName: repository_name,
                                    path: '__path__',
                                    _locale: app.request.locale
                                }) }}'.replace('__path__', nodePath)
							};
						},
					},
					root_node: '{{ root_node }}',
				});
			});
        </script>

    {% endblock %}

    <div id="{{ id }}-cmf-grapes"></div>

{% endblock %}
