<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    {% block stylesheets %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>